TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

WORK_DIR=./tmp
WHISPER_MODEL_SIZE=small

ANTHROPIC_API_KEY=
CLAUDE_MODEL=claude-sonnet-5

NOTION_API_KEY=
NOTION_CRM_DATA_SOURCE_ID=
NOTION_APPELS_DATA_SOURCE_ID=
